body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.box-set,
.box {
  border-radius: 6px;
}
.box {
  background: #2db34a;  
  height: 80px;
  line-height: 80px;
  margin: 1.858736059%;
  text-align: center;
  width: 29.615861214%;
}